In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Startup.csv')
df.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import mlem

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   Profit           50 non-null     float64
dtypes: float64(4)
memory usage: 1.7 KB

In [7]:
X=df.drop('Profit',axis=1)
y=df['Profit']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=667)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test).round(2)

In [9]:
df_pred=pd.DataFrame(data=list(zip(y_pred, y_test)),columns=['predicted', 'real']) 
df_pred

    predicted       real
0   113486.00  122776.86
1   160411.70  155752.60
2    97206.96   97483.56
3   163775.39  156991.12
4    47330.83   64926.08
5    70244.04   81229.06
6   190192.78  191792.06
7   112370.67  108552.04
8    75699.08   78239.91
9   117705.03  118474.03
10   64463.24   65200.33
11  154742.66  149759.96
12  116402.31  105008.31
13  135060.07  146121.95
14   48329.86   14681.40

In [10]:
df_pred['error'] = df_pred['predicted'] - df_pred['real']
df_pred

    predicted       real     error
0   113486.00  122776.86  -9290.86
1   160411.70  155752.60   4659.10
2    97206.96   97483.56   -276.60
3   163775.39  156991.12   6784.27
4    47330.83   64926.08 -17595.25
5    70244.04   81229.06 -10985.02
6   190192.78  191792.06  -1599.28
7   112370.67  108552.04   3818.63
8    75699.08   78239.91  -2540.83
9   117705.03  118474.03   -769.00
10   64463.24   65200.33   -737.09
11  154742.66  149759.96   4982.70
12  116402.31  105008.31  11394.00
13  135060.07  146121.95 -11061.88
14   48329.86   14681.40  33648.46

In [12]:
import joblib
joblib.dump(model,'startup.pkl')

['startup.pkl']

In [14]:
model = joblib.load("startup.pkl")

In [17]:
model.predict([[10,20,30]])[0]

c:\Users\manzo\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

48159.280438893846